/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #043b54; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #043b54; 
}
/* login page */
.back-img{
    background-image: url("/assets/images/bg1.png");
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
    height: 100vh;
    /* filter: blur(5px); */
    position: fixed;
    left: 0;
    background-size: cover;
    backdrop-filter: brightness(0.5);
    top: 0;
    background-repeat: no-repeat;
}
.bg_image{
  background-image: url("/assets/images/innerpagetopbg.jpg");
    background-repeat: no-repeat;
    height: 45px;
    
}
.login_image{
    width: 56%;
    position: absolute;
    top: 13%;
    border-radius: 3%;
    /* filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
    -moz-filter: opacity(0.5);
    -o-filter: opacity(0.5);
    -ms-filter: opacity(0.5); */
}
  
  .material-textfield {
    position: relative;  
    border: none;
    height: 39px;
  }
  
  .label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #000;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  .material-textfield input {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;  
    padding: 7px;
    color: #000;
    transition: 0.1s ease-out;
    width: 100%;
  }
  .material-textfield input:focus + .label {
    color: #fff;
    background-color: #15181d;
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  .material-textfield input:not(:placeholder-shown) + .label {
    top: 0;
    transform: translateY(-50%) scale(.9);
    background: #15181d;
    color: #fff;
  }
  .login_card {
    background: #15181d !important;
    padding: 4% 12% 4% 12% !important;
    position: absolute !important;
    top: 12pc !important;
    left: -4pc !important;
    height: 17pc !important;
    width: 26pc !important;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px !important;
    opacity: .7;
}
button.submit_btn {
    padding: 2px 9px;
    border-radius: 6px;
}
.login_head{
    text-align: center;
    color: #fff;
}
a.forgot_ {
    color: #fff;
    float: left;
}

/* index page  */
img.logo {
  height: 27px;
  cursor: pointer;
}

/* user master page */
.logout{
  width: 25px;
  cursor: pointer;
}
.bg_card{
  background-color: #fff;
}
h1.headers {
  font-size: 19px;
  color: #fff;
}
.bg_card {
  background-color: #043b54d6;
  padding: 19px 0 18px 26px;
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}
.nav-link{
  margin-left: 13px;
    text-align: left;
    font-weight: 600 !important;
    color: #fff !important;
    margin-right: -5px;
    height: 52px;
    transition: all .4s;
}
.nav-link.active{
  background-color: #f5f6f1 !important;
  color: #043b54 !important;
}
section.table_bg {
  margin: 14px 0 14px 21px;
}
th, td {
  border-bottom-width: 0px !important;
  height: 47px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}
th{
  text-align: center !important;
  white-space: nowrap;
}
tr{
  transition: all .7s;
}
tr:hover {
  background-color: #043b54;
  color: #fff;
  transition: all .7s;
}
.add_new{
  border: none;
    background: #043b54;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 6px 7px;
    text-decoration: none;
    cursor: pointer;
    
}
.add_new:hover{
  color: #fff !important;
  transform: scale(1);
}
.nav-link:hover {
  background-color: #f5f6f1 !important;
  color: #043b54 !important;
  transition: all .4s;
}

/* part consumption */
.card-body > h6 {
  background: #043b54;
  padding: 2px 6px;
  margin: 0;
  position: absolute;
  top: -1px;
  left: 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 8px;
}
.card-body > h2 {
 text-align: center;
 font-size: 16px;
}
.card:hover{
  background-color: #043b54;
  color: #fff;
  transition: all .7s;
}

/* add user master  */
.add_user_class{
  font-size: 21px;
  font-weight: 600;
}

/* search box  */


.height{
  height: 100vh;
 }
 .search {
  position: absolute;
  box-shadow: 0 0 40px rgb(51 51 51 / 10%);
  width: 100%;
  right: -48px;
}
 .search input{
  height: 28px;
  text-indent: 0px;
  border: 2px solid #d6d4d4;
 }
 .search input:focus{
box-shadow: none;
border-color: #043b54 !important;
 }
 .search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;

 }

/* side navbar */

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
/* @keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
} */
#menu li, .itel_list {
    margin: 75px 0 -55px 0;
    color: #043b54;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
    transition: all .3s;
}
.itel_list:hover{
  transform: scale(1.1);
  color: #043b54 ;
}
#menu li {
    width: 230px;
    text-indent: 56px;}
  .itel_list:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}

#trigger, #burger, #burger:before, #burger:after {
  position: fixed;
  top: 9px;
  left: 8px;
  background: #043b54;
  width: 27px;
  height: 4px;
  /* transition: .2s ease; */
  cursor: pointer;
  z-index: 2;
}
#trigger {
  height: 19px;
  background: none;
}
#burger:before {
  content: " ";
  top: 15px;
  left: 8px;
}
#burger:after {
  content: " ";
  top: 22px;
  left: 8px;
}
#menu-toggle:checked + #trigger + #burger {
  top: 18px;
    transform: rotate(180deg);
    transition: transform .2s ease;
    left: 11px;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu {
  position: fixed;
  margin: 0; padding: 0;
  width: 55px;
  height: 47px;
  background-color: #fff;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  animation: not-checked-anim .2s both;
  transition: .2s;
  z-index: 1;
  max-width: 22%;
}
#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, .itel_list {
  display: block;
}
input#menu-toggle:not(:checked), input#menu-toggle:checked {
  display: none;
}
td input[type="checkbox"]{
  cursor: pointer;
}

/* kem_managerkemno */
ul.chosen-choices {
  height: 38px !important;
  overflow-y: auto !important;
  border-radius: unset !important;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
  border: 1px solid #ced4da !important;
}
input.chosen-search-input.default {
  width: 72px !important;
  height: 34px !important;
  color: #21252991!important;
  font-size: 16px !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../../assets/images/up_arrow.png") !important;
}

.accordion-button::after {
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  background-image: url("../../assets/images/up_arrow.png") !important;
}
button.accordion-button {
  background: #2a5a6d !important;
  color: #fff !important;
}
button.accordion-button:focus {
  box-shadow: none !important;
}